
<div class="card ">
	<div class="card-header">PRODUCT LIST</div>
	
	<table class="table">
		<thead class="bg-success" style="font-variant: small-caps;">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Price</th>
				<th scope="col">Date</th>
				<th scope="col">Image</th>
				<th scope="col">Category</th>
				<th scope="col">Available?</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in pager.items">
				<th>{{item.id}}</th>
				<th>{{item.name}}</th>
				<th>{{item.price | number : 2}}</th>
				<th>{{item.createDate | date : 'dd-MM-yyyy'}}</th>
				<th>{{item.image}}</th>
				<th>{{item.category.name}}</th>
				<th>{{item.available?'Yes':'No'}}</th>
				<th>
					<div class="btn-group btn-group-xs">
						<button ng-click="edit(item)" class="btn btn-warning ">Edit</button>
						<button ng-click="delete(item)" class="btn btn-danger ">Delete</button>
					</div>
				</th>
			</tr>


		</tbody>
	</table>
	<div class="panel-footer text-center">
		<button ng-click="pager.first()" class="btn btn-danger">
			<i class="fa-solid fa-backward-fast"></i>
		</button>
		<button ng-click="pager.prev()" class="btn btn-primary">
			<i class="fa-solid fa-angles-left"></i>
		</button>
		<button  class="btn btn-success">{{pager.page+1}} of {{pager.count}}</button>
		<button ng-click="pager.next()" class="btn btn-primary">
			 <i class="fa-solid fa-angles-right"></i>
		</button>
		<button ng-click="pager.last()" class="btn btn-danger">
			<i class="fa-solid fa-forward-fast"></i>
		</button>
	</div>
</div>
