  <div class="card">
	<div class="card-header">
		ACCOUNT EDITION
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-4 center" >
				<label for="image">
					<img ng-src="{{'/assets/images/' + form.account.photo}}" style="max-width:100%;height:200px;" alt="" />
				</label>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-6 form-group">
						<div>Username</div>
						<input ng-model="form.account.username" class="form-control"/>
					</div>
					<div class="col-sm-6 form-group">
						<div>Password</div>
						<input ng-model="form.account.password" type="password" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 form-group">
						<div>Image</div>
						<input  type="file" class="form-control" id="image"
						onchange="angular.element(this).scope().imageChanged(this.files)"/>
					</div>
					<div class="col-sm-6 form-group">
						<div>Role</div>
						<select class="form-control" ng-model="form.role.id">
							<option ng-repeat="c in roles"  ng-value="c.id">{{c.id}}</option>
						</select>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-6 form-group">
						<div>Fullname</div>
						<input ng-model="form.account.fullname" type="test" class="form-control" />
					</div>
					<div class="col-sm-6 form-group">
						<div>Email</div>
						<input ng-model="form.account.email" type="email" class="form-control" />
					</div>
				 	
					</div> 
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer text-center">
		<button ng-click="create()" class="btn btn-primary"> <i class="fa-solid fa-plus"></i> Create</button>
		<button ng-click="update()" class="btn btn-info"> <i class="fa-solid fa-wrench"></i> Update</button>		
		<button ng-click="delete(form)" class="btn btn-danger"> <i class="fa-solid fa-trash"></i> Delete</button>
		<button ng-click="reset()" class="btn btn-warning" > <i class="fa-solid fa-arrows-rotate"></i>Reset</button>
	</div>
</div>

 
 